{% extends 'blog/base.html' %}

   {% block content %}
       {% if p.published_date %}
           <div class="post">
               <div class="date">
                   {{ p.published_date }}
               </div>
               <h1><a href="">{{ p.title }}</a></h1>
               <p>{{ p.title|linebreaksbr }}</p>
               <p>{{ p.text }}</p>
               <a href="{% url 'post_edit' pk=p.pk %}" class="top-menu" style="color:black;">Editar</a>
           </div>
       {% endif %}
   {% endblock content %}
