{% extends 'blog/base.html' %}
      {% block content %}
        {% for p in pub %}
        <div class="post">
          <p>Publicacion: {{p.published_date}}</p>
           <h1><a href="{%url 'postea' pk=p.pk %}">{{p.title}}</a></h1>
          <p>{{p.text|linebreaksbr}}</p>
        </div>
        {% endfor %}
      {% endblock content %}
<!--<html>
  <head>
    <title> Hola mundo </title>
  </head>
  <body>
    <div>
      <h1><a href="/">Django Blog</a></h1>
    </div>
    {% for p in pub %}
        <div>
            <p>Publicado: {{ p.published_date }}</p>
            <h1><a href="">{{ p.title }}</a></h1>
            <p>{{ p.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
  </body>
</html>
-->
